.carousel  {
   max-width: 1150px; /* ширина всего блока */
   margin: 50px auto 30px;
   width:100%;
}
.carousel-wrapper {
   margin: 10px; /* отступы для стрелок */
   padding-top: 15px;
   overflow: hidden; /* скрываем содержимое, выходящее за рамки основной области */
   position:relative;
}
.carousel-items {
   width: 10000px; /* устанавливаем большую ширину для набора элементов */
   position: relative; /* позиционируем блок относительно основной области карусели */
}
.carousel-block {
   float: left; /* выстраиваем все элементы карусели в ряд */
   width: 270px; /* задаём ширину каждого элемента */
   margin: 0px 1px 11px 10px; /* делаем оступы, чтобы элементы не сливались */
  /* height: 315px;*/
   position: relative;
   text-align: center;
}
.carousel-block img{
   width: 230px; /* задаём ширину каждого элемента */
   height: 195px; 
   margin-top: 60px;
}
.shadow_block {
   width: 270px;
   height: 315px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
   margin-bottom: 10px;
}
.carousel-block span{
   font: bold 18px/23px sansregular, sans-serif;
   color: #333;
   text-transform: uppercase;
}
/*********** SHADOW ***********/
/*.shadow{
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}*/
.box{
   width: 15px;
   height: 15px;
   background-color: #ffffff;
   margin-right: 5px;
   border-radius: 50%;
   position: absolute;
   top:90%;
   left: 50%;
   z-index: 2;
}
.box1 {
   left: 50%;
}
.box2 {
   left: 52%;
}
.box3 {
   left: 54%;
}
.box-small {
   width: 11px;
   height: 11px;
   background-color: #000000;
   border-radius: 50%;
   position: absolute;
   top: 2px;
   left: 2px;
   display: none;
}
