@font-face {
    font-family: 'sansregular';
    src: url('../fonts/pt-sans.regular-webfont.eot');
    src: url('../fonts/pt-sans.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt-sans.regular-webfont.woff2') format('woff2'),
         url('../fonts/pt-sans.regular-webfont.woff') format('woff'),
         url('../fonts/pt-sans.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'intro';
    src: url('../fonts/intro-webfont.eot');
    src: url('../fonts/intro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro-webfont.woff2') format('woff2'),
         url('../fonts/intro-webfont.woff') format('woff'),
         url('../fonts/intro-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}
a {
    cursor: pointer;
}
.white {
	height: 61px;
	background-color: #fff;
}
.blue {
	height: 80px;
	background-color: #16627e;
}
.white-content, .blue-content{
	width: 1170px;
	margin: 0 auto;
}
.lang {
    font: 18px sansregular, sans-serif; 
    float: right;
    color: #333;
    text-decoration: none;
    padding: 0 7px;
    margin-top: 20px;

}
.lang:hover {
    color: #02aef1;
}
.phone {
    float: right;
    font: 18px sansregular, sans-serif; 
    color: #333333;
    margin: 23px 38px 0 0;
    padding-left: 20px;
    background:url(../img/icon_phone.png) 0 0 no-repeat;
}
.logo {
    width: 263px;
    height: 61px;
    float: left;
    background: url(../img/logo.png) 0 0 no-repeat;
}
.top-menu {
    float: right;
    margin-right: 3px;
}
.top-menu li {
    float: left;
    list-style: none;
    margin-left: 123px;
}
.top-menu li:first-child {
    margin-left: 0;
}
.top-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font: bold 18px/80px sansregular, sans-serif;
}
.top-menu a:hover {
    color: #b7d443;
}
.search {
    float: right;
    width: 75px;
    height: 80px;
    margin-left: 105px;
    background: #1579ac url(../img/icon_search.png) center center no-repeat;
}
.camera {
    background: url(../img/header_bg.jpg) center center no-repeat;
    background-size: cover;
}
.camera-conent, .catalog-content, .news-content {
    width: 1170px;
    margin: 0 auto;
}
.block {
    width: 390px;
    float: left;
    background: rgba(0,0,0,0.05) url(../img/cam2.png) -20px -5px no-repeat;
}
.block2 {
    background: rgba(0,0,0,0.1) url(../img/wire.png) -20px -5px no-repeat;
}
.block3 {
    background: rgba(0,0,0,0.2) url(../img/cam.png) -20px -5px no-repeat;
}
.block p{
    margin: 295px 5px 20px 30px;
    font:36px intro, sans-serif;
    color: #fff;
}
.button {
    display: inline-block;
    width: 235px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    font: bold 18px/50px sansregular, sans-serif;
    border-radius: 40px;
    text-align: center;
    margin: 10px 0 85px 34px;
    background: #b7d443 url(../img/pointer.png) 185px 18px no-repeat;
}
.button:hover {
    color: #000;
    background-image:url(../img/pointer_b.png);
}
.catalog {
    background-color: #fff;
}
.catalog-content p,.partners p {
    font:36px intro, sans-serif;
    color: #555;
    padding: 80px 0 0 0;
    text-align: center;
}
.partners,.footer-content {
    width: 1170px;
    margin:0 auto;
}
.partners p {
    padding: 40px 0 40px 0;
}
.partners div{
    float: left;
    margin:0 70px 45px 0;
}
.partners div:last-child{
    margin-right:0;
}
.news {
    background: url(../img/blue_bg.jpg) center center no-repeat;
    background-size: cover;
}
.title-news{
    color: #fff;
    font:36px intro, sans-serif;
    padding: 40px 0 30px 0;
    text-align: center;
}
.news-block {
    width: 360px;
    height: 110px;
    padding: 20px 10px 10px 10px;
    background-color: #fff;
    float: left;
    margin: 0 5px 30px;
}
.news-content img {
    float: left;
    width: 124px;
    height: 95px;
}
.text {
    float: left;
    width: 215px;
    margin: 10px;
}
.date {
    font: bold 14px/16px sansregular, sans-serif;
    color: #bebebe;
}
.title {
    font: bold 14px/16px sansregular, sans-serif;
    color: #555;
    margin-bottom: 5px;
}
.article {
    font: 12px/16px sansregular, sans-serif;
    color: #707070;
    height: 33px;
    overflow: hidden;
}
.more {
    color: #b7d443;
    font:bold 14px/19px sansregular, sans-serif;
    margin-left: 120px;
}
.dots {
    width: 55px;
    height: 15px;
    margin: 0 auto;
    padding-bottom: 30px;
    border: none;
}
.dot {
    float: left;
    width: 10px;
    height: 10px;
    border-radius:50%;
    margin-left: 5px;
    border: 1px solid #fff;
}
.catalog .dot {
    border: 1px solid #b7d443;
    padding-bottom: 0;
}
.catalog .active {
    background-color: #b7d443;
}
.news .active {
    background-color: #fff;
}
.footer {
    background-color: #01223b;
}
.footer-content {
    padding-top: 70px;
}
.all-contacts {
    width: 235px;
    color: #9ba0aa;
    font: 16px/24px robotolight, sans-serif;
    padding-left: 30px;
    background: url(../img/location.png) 0 0 no-repeat;
    text-transform: uppercase;
    float: left;
    margin-right: 33px;
}
.contacts {
    margin-top: 20px;
    margin-bottom: 30px;
}
.contacts p:last-child{
    margin-right: 0;
}
.phone-number {
    background-image: url(../img/phone.png);
}
.site {
    margin-right: 0;
    background-image: url(../img/web.png);
}
.email {
    background-image: url(../img/mail.png);
}
.copy {
    color: #9aa1ac;
    font: 12px/32px sansregular, sans-serif;
    border-top: 1px solid #9aa1ac;
    margin-top: 10px;
}